Codigos/Codigos/JAVA/WorkSpace C2/ServerCalculator/WebContent/wsdl/calculator.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CalculatorService" targetNamespace="http://calculator.server/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://calculator.server/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<schema xmlns="http://www.w3.org/2001/XMLSchema">
  <import namespace="http://calculator.server/" schemaLocation="calculator_schema1.xsd"/>
</schema>
  </wsdl:types>
  <wsdl:message name="divisaoResponse">
    <wsdl:part name="parameters" element="tns:divisaoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="multiplicaResponse">
    <wsdl:part name="parameters" element="tns:multiplicaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="subtraiResponse">
    <wsdl:part name="parameters" element="tns:subtraiResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="divisao">
    <wsdl:part name="parameters" element="tns:divisao">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="multiplica">
    <wsdl:part name="parameters" element="tns:multiplica">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="soma">
    <wsdl:part name="parameters" element="tns:soma">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="somaResponse">
    <wsdl:part name="parameters" element="tns:somaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="subtrai">
    <wsdl:part name="parameters" element="tns:subtrai">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Calculator">
    <wsdl:operation name="subtrai">
      <wsdl:input name="subtrai" message="tns:subtrai">
    </wsdl:input>
      <wsdl:output name="subtraiResponse" message="tns:subtraiResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="divisao">
      <wsdl:input name="divisao" message="tns:divisao">
    </wsdl:input>
      <wsdl:output name="divisaoResponse" message="tns:divisaoResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="multiplica">
      <wsdl:input name="multiplica" message="tns:multiplica">
    </wsdl:input>
      <wsdl:output name="multiplicaResponse" message="tns:multiplicaResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="soma">
      <wsdl:input name="soma" message="tns:soma">
    </wsdl:input>
      <wsdl:output name="somaResponse" message="tns:somaResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CalculatorServiceSoapBinding" type="tns:Calculator">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="subtrai">
      <soap:operation soapAction="urn:Subtrai" style="document"/>
      <wsdl:input name="subtrai">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="subtraiResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="divisao">
      <soap:operation soapAction="urn:Divisao" style="document"/>
      <wsdl:input name="divisao">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="divisaoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="multiplica">
      <soap:operation soapAction="urn:Multiplica" style="document"/>
      <wsdl:input name="multiplica">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="multiplicaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="soma">
      <soap:operation soapAction="urn:Soma" style="document"/>
      <wsdl:input name="soma">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="somaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CalculatorService">
    <wsdl:port name="CalculatorPort" binding="tns:CalculatorServiceSoapBinding">
      <soap:address location="http://localhost:9090/CalculatorPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
